@tailwind base;
@tailwind components;
@tailwind utilities;

@layer components {
  #PasswordLength {
    @apply flex justify-between items-center font-medium;
  }
  #PasswordLength p {
    @apply text-[1.2rem];
    @apply text-textColor;
  }
  #PasswordLength span {
    @apply text-[1.8rem];
    @apply text-neonGreen;
  }
}

input[type="range"] {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  cursor: pointer;
  background-color: var(--screen);
  height: 0.8rem;
  background-image: linear-gradient(var(--neonGreen), var(--neonGreen));
  background-repeat: no-repeat;
  border-radius: 0.5rem;
}

input[type="range"]::-webkit-slider-thumb {
  height: 2rem;
  width: 2rem;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  border-radius: 50%;
  background-color: white;
}

/* For checkboxes */
input[type="checkbox"] {
  display: none;
}

input[type="checkbox"] + label::before {
  content: "\2713";
  display: inline-block;
  width: 1.2rem;
  height: 1.2rem;
  border: 0.2rem solid white;
  background-color: transparent;
  margin-right: 1rem;
  text-align: center;
  line-height: 1.3rem;
  color: transparent;
}

input[type="checkbox"] + label {
  display: inline-block;
  cursor: pointer;
}

input[type="checkbox"]:checked + label::before {
  background-color: var(--neonGreen);
  border: 0.2rem solid var(--neonGreen);
  color: var(--componentColor);
}
